*.env
.base.env
.algo.env
**/__pycache__
**/*.pyc
.git
!.git/HEAD
!.git/refs/
!.git/packed-refs
.venv
.env
.env.*
*.pem
*.key
credentials.json
*wallet*.json
*payer*.json
*.sqlite
*.sqlite-wal
*.sqlite-shm

integration/
**/node_modules
